{% block content %}
  <h2>Homepage</h2>
  <p>Hello {{ user.username }}!</p>
 
  

  {% if user.is_authenticated %}
      You are signed in as <strong>{{ user.username }}</strong> /
      <a href="{% url 'home' %}">home</a> /
      <a href="{% url 'settings' %}">settings</a> /
      <a href="{% url 'password' %}">change password</a> /
      <a href="{% url 'logout' %}">logout</a>
    {% else %}
      <a href="{% url 'login' %}">login</a> /
      <a href="{% url 'signup' %}">signup</a>
    {% endif %}
  




{% endblock %}